header{
    background: rgb(211, 135, 135);
    padding: 20px 0;
}

.avatar1{
    width: 130px;
    margin-left: 80px;
}

.caixa{
    position:relative;
     width: 940px;
     margin-left: 30%;}


nav li{
    display: inline;
    margin: 0 0 0 30px;

}

nav a{
    text-transform: uppercase;
    color:black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.doces{
    display: inline;
    width: 0 10%;
    margin-left: 2%;
    vertical-align: top;
}

p{
    text-align: center;
    padding: 1%;
    font-size: 20px;
}

h2{
    text-align: center;
    text-transform: uppercase;
    color:rgb(170, 12, 12);
    font-weight: bold;
    font-size: 22px;
    padding: 3%;
}

img{
    margin-left: 42%;
    width: 200px;
    right: 50px;
}

.produto-preco{
    font-weight: bold;
}